container_commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/98_setup_prisma.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/app/current
      export PATH=$PATH:$(ls -td /opt/elasticbeanstalk/node-install/node-* | head -1)/bin
      export PRISMA_ENDPOINT=$(/opt/elasticbeanstalk/bin/get-config environment -k PRISMA_ENDPOINT)
      export PRISMA_SECRET=$(/opt/elasticbeanstalk/bin/get-config environment -k PRISMA_SECRET)
      npm install -g prisma
      export PRISMA_TOKEN=`npx prisma token`

      mkdir -p /tmp/deployment/application/.ebextensions/
      echo -e "option_settings:\n  aws:elasticbeanstalk:application:environment:\n    PRISMA_TOKEN: $PRISMA_TOKEN" > /tmp/deployment/application/.ebextensions/03-prisma_token.config

      cat /tmp/deployment/application/.ebextensions/03-prisma_token.config
